<div ng-include src="'menus/paschalion-menu.tpl.html'"></div>
<div class="panel panel-default holydate-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 holydate">
        <h2 class="holydate-header" ng-bind="vm.paschalion.date |
            amDateFormat:'Зрячая пасхалия на YYYY год'"></h2>
        <h4 class="holydate-subheader"
            ng-bind="vm.calendarSystem"></h4>
        <div ng-repeat="key in ['year', 'resurrectionDay', 'fastFreeWeeks',
                                'fasts', 'movableFeasts', 'minorFixedFeasts',
                                'majorFixedFeasts', 'soulSaturdays']">
          <div class="holydate-group">
             <h3 class="holydate-header"
                 ng-bind="vm.paschalion[key].headline"></h3>
            <div ng-repeat="item in vm.paschalion[key].result">
              <p ng-bind-html="item | to_trusted"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
