<!DOCTYPE html>
<html lang="ru"
      ng-app="ancientOrthodoxWebCalendar"
      ng-controller="AppController as vm">

  <head>
    <base href="/">
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='assets/images/favicon.ico' />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Serif+Caption:400,400italic|PT+Sans+Caption:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Древлекалендарь" src="assets/images/logo.png">
          </a>
          <button type="button" class="navbar-toggle"
                  ng-init="menuCollapsed = true"
                  ng-click="menuCollapsed =! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="today">
                Древлекалендарь
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="paschalion({year: year})">
                Зрячая пасхалия
              </a>
            </li>
            <li>
              <button class="btn btn-info navbar-btn"
                      ui-sref-active="active"
                      ui-sref="about">О календаре
              </button>
            </li>
          </ul>
          <search-input-directive placeholder="Имя святого или праздник"
                                  button-text="Найти"></search-input-directive>
        </div>
      </div>
    </div>
    <div class="container" ui-view="main"></div>
    <div class="container">
      <footer class="footer">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="footer-inner">
              <p>
                © 2009–2018
                <a href="http://www.linkedin.com/in/MaximChernyatevich">
                  Максим Чернятевич
                </a>
                <a href="https://play.google.com/store/apps/details?id=drevle.com.drevlecalendar"
                   target="_blank"
                   style="float:  right; margin-right: 30px;">
                  <img src="assets/images/google-play-badge.png"
                       height="80px" style="margin-top:-20px;"  alt="drevle.com.drevlecalendar"/>
                </a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
